In [17]:
import pandas as pd
import networkx as nx

In [18]:
df = pd.read_csv("datasets/High-School_data_2013.csv", delim_whitespace=True, header=None, names=['Time', 'Student1','Student2','Class1', 'Class2'])
df

              Time  Student1  Student2 Class1 Class2
0       1385982020       454       640     MP     MP
1       1385982020         1       939  2BIO3  2BIO3
2       1385982020       185       258    PC*    PC*
3       1385982020        55       170  2BIO3  2BIO3
4       1385982020         9       453     PC     PC
...            ...       ...       ...    ...    ...
188503  1386345560       120       285     PC     PC
188504  1386345580        61       160  2BIO2  2BIO2
188505  1386345580       272       939  2BIO3  2BIO3
188506  1386345580       311       496     PC     PC
188507  1386345580       120       285     PC     PC

[188508 rows x 5 columns]